[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
  ; optional:
  conflictstyle = diff3
; optional:
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[user]
	email = jose.dev2708@gmail.com
	name = Jose-Salazar-27
